:root {
    --main-color: #6135e1;
    --weak-main-color: #c7b6f9;
    --white-font: white;
    --cancel-color: #ED0800;
    --aprove-color: #33b249;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.title-box {
    padding: 10px;
    background-color: #6260B5;
    color: var(--white-font);
}

.main-content {
    display: flex;

}

.none{
    display: none !important;
}

/* SIDE-BAR */

.side-bar {
    padding: 20px;
}

.side-bar-titles {
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: solid 2px #374958;
}

.box-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-list-item:hover{
    font-weight: bold;
    color: #14222e;
}

.icons {
    height: 27px;
    width: 27px;
}

.list-element {
    border: solid 2px transparent;
    margin: 3px 0;
    padding: 5px;
    list-style: none;
    cursor: pointer;
    transition: 200ms;
}

.select {
    font-weight: bold;
    color: #14222e;
}

.projects{
    display: flex;
    flex-direction: column;
}

.add-project {
    font-size: 16px;
    margin: 3px 0;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.add-project-box{
    display: flex;
}

/* END SIDE-BAR */

/*START CONTENT */

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 30px 50px;
}

.title-content {
    background-color: var(--main-color);
    padding: 20px;
    font-size: 2.3rem;
    color: #f7f5f5;
    border-radius: 3px;
    margin-bottom: 15px;
}

.no-task {
    text-align: center;
    font-size: 1.3rem;
}

.todo-card {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px;
    cursor: pointer;
}

.todo-card:hover{
    border: 1px solid black;
}

.checkbox-round {
    margin-right: 8px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid black;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: var(--main-color);
}

.todo-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.date {
    padding: 3px 6px;
    ;
}

.edit-delete-box {
    display: flex;
    padding: 5px;
}

.delete:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(36%) sepia(77%) saturate(6832%) hue-rotate(349deg) brightness(108%) contrast(103%);
}

.edit:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(24%) sepia(85%) saturate(5247%) hue-rotate(232deg) brightness(96%) contrast(98%);
}

/* END CONTENT */

/* START FORM */

.form-add-todo{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.form-add-todo input{
    margin: 5px 0;
    padding: 5px;
}

.box-btn-form{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.box-btn-form button{
    color: var(--white-font);
    border: none;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.box-btn-form button:hover{
    opacity: 0.8;
}

.btn-confirm{
    background-color: var(--aprove-color);
}

.btn-cancel{
    background-color: var(--cancel-color);
}

/* END FORM */

.edit{
    background: url(./assets/edit.svg);
    height: 24px;
    width: 24px;
}

.delete{
    background: url(./assets/delete.svg);
    height: 24px;
    width: 24px;
}

.box-list-item-project{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.box-list-item-project:hover{
    font-weight: bold;
    color: #14222e;
}

.box-list-item-boxIcons{
    justify-content: space-between;
}

.edit-icon-project, .delete-icon-project{
    font-size: 1.1rem;
    margin: 0 2px;
}

.edit-icon-project:hover{
    cursor: pointer;
    color: #284AF2;
}

.delete-icon-project:hover{
    cursor: pointer;
    color: var(--cancel-color);
}

.project-list{
    padding: 5px;
    font-size: 1.1rem;
    padding: 5px;
}

.show-form-todo{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    transition: 100ms;
}

.show-form-todo img{
    margin-right: 5px;
}

.show-form-todo:hover{
    opacity: 0.8;
}

.container-form-add-todo{
    display: flex;
    flex-direction: column-reverse;
}


/* MODAL */

dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}

dialog::backdrop {
    background-color: rgba(18, 18, 18, 0.8);
}

dialog form {
    padding: 20px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #222222;
}

dialog h2 {
    text-align: center;
    margin-bottom: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
}

.input-box input {
    padding: 5px;
    border: 1px solid #222222;
    outline: none;
}

.input-box label {
    margin-bottom: 3px;
    font-weight: bold;
}

.input-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.input-checkbox label {
    font-weight: bold;
}

.input-checkbox .checked {
    padding: 5px;
    height: 20px;
    width: 20px;
}

.btn-form {
    margin-top: 25px;
    width: 100%;
    text-align: center;
}

.btn-form button {
    padding: 10px;
    background-color: var(--aprove-color);
    color: var(--white-font);
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#cancel-edit{
    background-color: var(--cancel-color);
}

#btn-cancel-edit-project{
    background-color: var(--cancel-color);
}